<div class="row m-3 home-outer-card">
  <div class="col-md-6 col-sm-12 home-inner-card">
    <h3>Hi, I am Mihael Perić</h3>
    <p>Software engineer with several years of experience in developing
        applications on both the server and client sides. I enjoy learning
        new things in the IT field, and by exploring new technologies in
        my own projects and applications, I improve my skills and expand my
        overall knowledge.</p>
      <button type="button" class="btn btn-light mt-auto">Read more</button>

  </div>
    <div class="col-md-6 col-sm-0 text-center home-inner-card">
      <img src="/assets/images/1609503861180.jpg" alt="1609503861180" height="200" class="shadow-image">
  </div>
</div>
