<div class="portfolio-card p-4">
    <div class="d-flex align-items-center justify-content-center">
        <!-- Lijeva strana -->
        <div class="d-flex flex-column gap-3 me-4">
            <div class="skill-item text-center"><img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" width="40"
                    height="40"></div>
            <div class="skill-item text-center"><img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" width="40"
                    height="40"></div>
            <div class="skill-item text-center"><img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" width="40"
                    height="40"></div>
        </div>

        <!-- Sredina -->
        <div class="text-center profile-center">
            <img src="/assets/images/1609503861180.jpg" alt="Mihael Perić" class="rounded-circle profile-img mb-3">
            <h3 class="mb-1 text-white">Mihael Perić <span class="text-slate">| Software Engineer</span>

                <div class="bio-text my-4">
                    I build <strong>scalable backends</strong><br>
                    I craft <strong>AI solutions</strong><br>
                    I ensure <strong>robust codebases</strong>
                </div>
        </div>

        <!-- Desna strana -->
        <div class="d-flex flex-column gap-3 ms-4">
            <div class="skill-item text-center"><img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"
                    width="40" height="40"></div>
            <div class="skill-item text-center"><img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kubernetes/kubernetes-plain.svg" width="40"
                    height="40"></div>
            <div class="skill-item text-center"><img
                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" width="40"
                    height="40"></div>
        </div>
    </div>

    <!-- Gumbi -->
    <div class="contact-btns d-flex justify-content-center gap-2 mt-3">
        <a href="#" class="btn btn-sm btn-outline-light">Download CV</a>
    </div>
</div>