<div class="row m-3 mt-5 mb-5 home-outer-card">
    <div class="col-md-6 col-sm-0 text-center home-inner-card">
      <img src="/assets/images/blood_donor.jpg" alt="blood_donor" height="200">
    </div>
    <div class="col-md-6 col-sm-12 home-inner-card">
        <h3>Blood donor</h3>
        <p>The Blood Donor application, supported by USAID, serves hospitals across Bosnia and Herzegovina.
          Its primary function is to monitor and display blood supply levels for
          each hospital, categorized by blood type. Additionally,
          the app facilitates the organization of blood donation drives,
          encouraging community participation and ensuring a steady supply
          of blood for those in need.</p>
        <a href="/pages/blood_donor.html" target="_blank" class="btn btn-light mt-auto">Read more</a>
    </div>
</div>
