<div class="row m-3 home-work-card">
    <div class="work-card">
        <div class="robot-img-container mb-4">
            <img src="/assets/images/dashef.png" alt="daShef" class="img-fluid rounded-4 robot-img work-image">
        </div>
    </div>
    
    <h3>daShef</h3>
    <p>The digital menu for restaurants and bars streamlines the ordering process through a user-friendly application, providing guests with comprehensive information about meals, including ingredients, preparation methods, an...</p>
    
    <div class="work-tech-stack">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" width="30">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" width="30">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" width="30">
    </div>
    
    <a href="/pages/da_shef.html"  class="btn btn-work-light mt-3">More</a>
</div>
