<div class="row m-3 mt-5 mb-5 home-outer-card">
    <div class="col-md-6 col-sm-0 text-center home-inner-card">
      <img src="/assets/images/dashef.png" alt="dashef_logo" height="200">
    </div>
    <div class="col-md-6 col-sm-12 home-inner-card">
        <h3>daShef</h3>
        <p>The digital menu for restaurants and bars streamlines the
            ordering process through a user-friendly application,
            providing guests with comprehensive information about meals,
            including ingredients, preparation methods, and more.
            A standout feature is the ability for guests to view the
            estimated preparation and cooking times, as well as
            receive real-time updates when their meal is ready to be served.</p>
        <a href="/pages/da_shef.html" target="_blank" class="btn btn-light mt-auto">Read more</a>
    </div>
</div>
