<div class="row m-3 mt-5 mb-5 home-outer-card">
    <div class="col-md-6 col-sm-0 text-center home-inner-card">
      <img src="/assets/images/emil_frey_gruppe_logo.svg.png" alt="emil_frey_gruppe_logo" height="200">
    </div>
    <div class="col-md-6 col-sm-12 home-inner-card">
        <h3>Emil Frey</h3>
        <p>Emil Frey's projects and products are primarily focused on the
        automotive industry. The process of dealing with vehicles is complex,
        requiring careful management of client contracts, offers,
        inventory, and more. Additionally, these operations are
        integrated with various services, such as marketplaces
        where the vehicles are listed.</p>
        <a href="/pages/ef.html" target="_blank" class="btn btn-light mt-auto">Read more</a>
    </div>
</div>
