<div class="row m-3 home-work-card">
    <div class="work-card">
        <div class="robot-img-container mb-4">
            <img src="/assets/images/emil_frey_gruppe_logo.svg.png" alt="Emil Frey"
                class="img-fluid rounded-4 robot-img work-image">
        </div>
        <div class="descriptionTitle">
            <h3>Emil Frey</h3>
            <p>Emil Frey's projects and products are primarily focused on the automotive industry. The process of
                dealing
                with vehicles is complex, requiring careful management of client contracts, offers, inventory, and
                more...
            </p>
        </div>
        <div class="work-tech-stack">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" width="30">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original.svg" width="30">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/gitlab/gitlab-original.svg" width="30">
        </div>
        <div class="button-more">
            <a href="/pages/ef.html" class="btn btn-work-light mt-3">More</a>
        </div>
    </div>
</div>