<div class="row m-3 home-work-card">
    <div class="work-card">
        <div class="robot-img-container mb-4">
            <img src="/assets/images/erp.png" alt="ERP" class="img-fluid rounded-4 robot-img work-image">
        </div>
    </div>
    
    <h3>ERP</h3>
    <p>ERP (Enterprise Resource Planning) system is a comprehensive software solution that integrates and manages a company's core business processes, such as finance, supply chain, human resources, and manufacturing, into a unified system. By cent...</p>
    
    <div class="work-tech-stack">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" width="30">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" width="30">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" width="30">
    </div>
    
    <a href="/pages/erp_notus.html" class="btn btn-outline-light mt-3">More</a>
</div>
