<div class="row m-3 mt-5 mb-5 home-outer-card">
    <div class="col-md-6 col-sm-0 text-center home-inner-card">
      <img src="/portfolio/assets/images/erp.png" alt="erp" height="200" class="shadow-image">
    </div>
    <div class="col-md-6 col-sm-12 home-inner-card">
        <h3>ERP</h3>
        <p>ERP (Enterprise Resource Planning) system is a comprehensive software
        solution that integrates and manages a company's core business
        processes, such as finance, supply chain, human resources,
        and manufacturing, into a unified system. By centralizing data
        and automating workflows, ERP systems enhance efficiency, provide
        real-time insights, and support better decision-making across
        the organization.</p>
        <button type="button" class="btn btn-light mt-auto">Read more</button>
    </div>
</div>
