<div class="row m-3 mt-5 mb-5 home-outer-card">
    <div class="col-md-6 col-sm-0 text-center home-inner-card">
      <img src="/portfolio/assets/images/procter_&_gamble_logo.svg.png" alt="pg" height="200">
    </div>
    <div class="col-md-6 col-sm-12 home-inner-card">
        <h3>ERP & P&G</h3>
        <p>ERP work was identical as work in Notus company. The Procter & Gamble
            Company (P&G) is an American multinational consumer goods corporation.
            The company’s website provides extensive information about its
            operations, including detailed insights into its brands, products, and
            corporate initiatives. A significant focus of the site is on
            localization, an area where I have been particularly involved in optimizing
            and enhancing the user experience.</p>
        <button type="button" class="btn btn-light mt-auto">Read more</button>
    </div>
</div>
