<div class="row m-3 mt-5 mb-5 home-outer-card">
    <div class="col-md-6 col-sm-12 home-inner-card">
        <h3>Smart call assistant</h3>
        <p>Smart Call Assistant is a voice-controlled AI-powered service
        that overcomes the drawbacks of synchronous telephone communication.
        It provides features for intelligently answering calls in situations
        where you cannot speak but can still communicate.</p>
        <a href="/portfolio/pages/sca.html" class="btn btn-light mt-auto">Read more</a>
    </div>
    <div class="col-md-6 col-sm-0 text-center home-inner-card">
      <img src="/portfolio/assets/images/486031740385063.jpg" alt="486031740385063" height="200" class="shadow-image">
    </div>
</div>
