<div class="row m-3 home-work-card">
    <div class="work-card">
        <div class="robot-img-container mb-4">
            <img src="/assets/images/486031740385063.jpg" alt="Smart Call Assistant"
                class="img-fluid rounded-4 robot-img work-image">
        </div>
        <div class="descriptionTitle">
            <h3>Smart Call Assistant</h3>
            <p>Smart Call Assistant is a voice-controlled AI-powered service that overcomes the drawbacks of synchronous
                telephone communication. It provides features for intelligently answering calls in situations where...
            </p>
        </div>
        <div class="work-tech-stack">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" width="30"
                title="Python">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kubernetes/kubernetes-plain.svg" width="30"
                title="Kubernetes">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" width="30"
                title="Docker">
        </div>
        <div class="button-more">
            <a href="/pages/sca.html" class="btn btn-work-light mt-3">More</a>
        </div>
    </div>
</div>